---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';


---
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<a href="/">Inicio</a>
        <a href="/about/">Sobre nosotros</a>
		<a href="/blog/">blog</a> 
<Layout>
	<Welcome />
</Layout>
